name: Deploy S3 + CloudFront Website (Terraform)

on:
  push:
    branches:
      - main
    paths:
      - "AWS/AWS-S3-CloudFront-CDN.Using-Terrafrom-Github/Action.project/terraform/**"

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: /AWS/AWS-S3-CloudFront-CDN.Using-Terrafrom-Github/Action.project/terraform/

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      # Apply ONLY if you want auto-deploy
      - name: Terraform Apply
        run: terraform apply -auto-approve

     
