
name: Deploy S3 + CloudFront Website (Terraform)

on:
   Push:
    branches:
      - main
    paths:
      - "AWS/AWS-S3-CloudFront-CDN.Using-Terrafrom-Github"
jobs:
  terraform:
    name: Terraform Apply 
    runs-on: ubuntu-latest

  detaults:
     run:
       shell: bash
       working-directory: AWS/AWS-S3-CloudFront-CDN.Using-Terrafrom-Github/Action.project
  
    steps:
     - name: Checkout Repo 
       uses: hashicorp/setup-terraform@v3
       with:
         terraform_version: 1.6.6
     - name: Configure AWS credentials 
       uses: aws-actions/configure-aws-credentials@v4
       with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1
     - name: Terraform Init
       run: terraform init
     - name: Terraform Validate
       run: terraform validate
     - name: Terraform Plan
       run: terraform plan-out=tfplan
     - name: Terraform Apply
       run: terraform apply-auto-approve tfplan
